rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /station-logos/{allPaths=**} {
      // Herkes logoları görebilir
      allow read: if true;
      // Sadece admin yükleyebilir/değiştirebilir
      allow write: if request.auth != null && request.auth.token.email == 'admin@radiostack.com';
    }
  }
}
